VITE_SUPABASE_URL=https://ntstkoygogmvicgutmtz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50c3Rrb3lnb2dtdmljZ3V0bXR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1MjA1NTUsImV4cCI6MjA5OTA5NjU1NX0.4EZF40TNQsfilCNK1ck86QbFH4iwLNKr6deGQ51oRBQ
